<%= render 'admin_view' %>
<div class="clearfix"></div>
<%= render 'manager_view' %>
<div class="clearfix"></div>
<%= render 'user_view' %>
<div class="clearfix"></div>
<%= render 'card_view', :user => @user  %>
